
@{
    ViewBag.Title = "Character";
}

<h2>Character</h2>

@if (!string.IsNullOrWhiteSpace(ViewBag.Name))
{
    <p>
        Name: @ViewBag.Name
    </p>

    <p>
        <a href="@ViewBag.ReturnUrl">Return</a>
    </p>
}