@using WGO.Models

@model List<Character>
@{
    ViewBag.Title = "Guild";
}

<h2>Guild Roster</h2>

@Html.ValidationSummary()

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
        {
            MVCGridName = "GuildRoster",
            PageSize = true,
            ColumnVisibility = true,
            Export = true,
            GlobalSearch = true
        })
        @Html.MVCGrid("GuildRoster")
    </div>
</div>

