@model WGO.Models.GuildNewsViewModel

@{
    ViewBag.Title = "GuildNews";
}

<div data-toggle="collapse" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
    <h4>Recent Guild News</h4>
    <ul data-role="listview" data-inset="false" class="list-group">
        @foreach (string news in Model.GuildNews)
        {
            <li class="list-group-item">@Html.Raw(news)</li>
        }
    </ul>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryblock")
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>var whTooltips = { colorLinks: true, iconizeLinks: true, renameLinks: true, iconSize: 'small' };</script>
    <script src="//www.wowhead.com/widgets/power.js" type="text/javascript"></script>
}
