
@{
    ViewBag.Title = "Raid Roster Audit";
}

<h2>RaidRosterAudit</h2>

<table class="table">
    <caption>List of users</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Character</th>
            <th scope="col">Missing Enchants</th>
            <th scope="col">Missing Gems</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-success">
            <th scope="row">1</th>
            <td>Purdee</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr class="table-danger">
            <th scope="row">2</th>
            <td>Mervrick</td>
            <td>1</td>
            <td>0</td>
        </tr>
        <tr class="table-danger">
            <th scope="row">3</th>
            <td>NewGuy</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </tbody>
</table>