
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<hr />

<div class="container" id="gridDisplay">
    <div class="">

        <img src="https://render-us.worldofwarcraft.com/icons/56/inv_helm_plate_nazmirraid_d_01.jpg" class="img-thumbnail float-left" />
        <div class="align-items-center">Gridrunner Galea</div>

        <img src="https://render-us.worldofwarcraft.com/icons/56/inv_plate_glove_warfrontshorde_b_01.jpg" class="img-thumbnail float-right" />
        <div class="float-right text-right">Honorbound Centurion's Gauntlets</div>


    </div>
</div>

<hr />
<div class="container mb-3" id="gridDisplayTest">
    <div class="row">
        <div class="card">
            <img src="https://render-us.worldofwarcraft.com/icons/56/inv_helm_plate_zandalardungeon_c_01.jpg" alt="..." class="img-thumbnail rounded float-left">
        </div>
        <div class="card align-middle">
            <p class="card-text align-text-bottom">Head Slot</p>
        </div>
        <div class="card float-right">
            <img src="https://render-us.worldofwarcraft.com/icons/56/inv_glove_plate_kultirasdungeon_c_01.jpg" alt="..." class="img-thumbnail rounded float-right">
        </div>
        <div class="float-right">
            <p class="float-right">Hands Slot</p>
        </div>
    </div>
</div>

<hr />


@*
    <div class="col-sm-3">
    <div class="@(items.Head.Quality == 6 ? "card-bronze" : (items.Head.Quality == 5 ? "card-orange" : (items.Head.Quality == 4 ? "card-purple" : (items.Head.Quality == 3 ? "card-blue" : (items.Head.Quality == 2 ? "card-green" : "card")))))">
    <h5 class="card-title">Head</h5>
    <h6 class="card-subtitle text-muted">@items.Head.ItemLevel</h6>
    <p class="card-text">@items.Head.Name</p>
    </div>
    </div>*@


@*<div class="card"><img src="https://render-us.worldofwarcraft.com/icons/56/inv_helm_plate_nazmirraid_d_01.jpg" class="img-thumbnail" /></div>
<div class="align-items-center">Gridrunner Galea</div>
<div class="card col-sm-6"></div>
<div class="float-right text-right">Honorbound Centurion's Gauntlets</div>
<div class="card float-right text-right"><img src="https://render-us.worldofwarcraft.com/icons/56/inv_plate_glove_warfrontshorde_b_01.jpg" class="img-thumbnail float-right" /></div>*@