@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World of Warcraft Guild Organizer</h1>
    <p class="lead">
        This World of Warcraft Guild Organizer will allow users to collect and display character data for a guild in the game World of Warcraft.
        Users can also keep track of item levels for a raid roster too, including an audit of the raid roster feature.
    </p>
</div>

<div class="container">
    <div class="card-deck">
        <div class="card col-md-4">
            <div class="card-body">
                <h2 class="card-title">Search</h2>
                <p class="card-text">Search for an individual character's data...</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary" href='@Url.Action("Search", "WGO")'>Learn more &raquo;</a></div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h2 class="card-title">Guild Roster</h2>
                <p class="card-text">View all characters from a guild.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary" href='@Url.Action("Guild", "WGO")'>Learn more &raquo;</a></div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h2 class="card-title">Raid Roster</h2>
                <p class="card-text">View a the current raid roster, and do an audit check.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary" href='@Url.Action("Raid", "WGO")' role="button">Learn more &raquo;</a></div>
        </div>
    </div>
</div>
