@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World of Warcraft Guild Organizer</h1>
    <p class="lead">
        This World of Warcraft Guild Organizer will allow users to collect and display character data for a guild in the game World of Warcraft.
        Users can also keep track of item levels for a raid roster too, including an audit of the raid roster feature.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search</h2>
        <p>
            Search for an individual character's data...
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Search", "WGO")'>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Guild Roster</h2>
        <p>View all characters from a guild.</p>
        <p><a class="btn btn-default" href='@Url.Action("Guild", "WGO")'>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Raid Roster</h2>
        <p>View a the current raid roster, and do an audit check.</p>
        <p><a class="btn btn-default" href='@Url.Action("Raid", "WGO")'>Learn more &raquo;</a></p>
    </div>
</div>
